@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: auto;
}

.nav-bar {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: row;
}

.nav-bar-content {
    display: flex;
    width: 1540px;
    align-self: center;
    justify-content: space-around;
    padding-left: 150px;
    padding-right: 150px;
}

.nav-bar-left {
    align-self: center;
    width: 500px;
}

.nav-bar-left-header {
    font-size: 24px;
    font-weight: bolder;
    color: #f9FAF8;
}

.nav-bar-right {
    display: flex;
    flex-direction: row;
    width: 500px;
}

.hero-container {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 150px;
    justify-content: space-around;
}

.hero-left {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.button-container-1 {
    display: flex;
    justify-content: flex-start;
}

.hero-right {
    display: flex;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-sub-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 9px;
    margin-bottom: 12px;
}

.information-container {
    display: flex;
    flex-direction: column;
    padding: 100px;
    margin: 25px;
}

#info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.card-container {
    display: flex;
    padding: 10px 16px;
    align-self: center;
    justify-content: center;
    height: 150px;
    width: 1000px;
}

.card {
    width: 100px;
    padding: 20px;
    border: blue solid 2px;
    margin-left: 12px;
    margin-right: 12px;
    justify-items: space-around;
    border-radius: 25px;

}

.info-text {
    display: flex;
    justify-content: center;
    width: 1032px;
    align-self: center;
}

.info-text-p {
    display: flex;
    justify-content: space-between;
    width: 144px;
    margin-left: 12px;
    margin-right: 12px;
}

.quote-container {
    background-color: #e5e7eb;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.sign-up-background  {
    padding: 100px 300px;
}

.sign-up-container {
    background-color: #3882f6;
    display: flex;
    padding: 50px 25px;
    border-radius: 25px;
    justify-content: space-around;
}

.sign-up-text {
    color: white;
}

.button {
    display: flex;
    align-self: center;
}

.footer {
    background-color: #1F2937;
    color: white;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    padding-left: 16px;
}

#quote {
    font-size: 36px;
    font-weight: 300px;
    font-style: italic;
    color: #1f2937;
    width: 800px;
    align-self: center;
}

#author {
    font-weight: bolder;
    display: flex;
    align-self: flex-end;
    margin-right: 350px;
}

#info-title {
    align-self: center;
}

#sign-up-header {
    font-size: 24px;
    font-weight: bolder;
}

#sign-up-p {
    font-size: 18px;
    color: #E5E7EB;
    margin: auto;
}

.sign-up-button-1 {
    color: white;
    background-color: #3882f6;
    font-weight: bolder;
    padding: 10px 40px;
    border: #3882f6 solid 2px;
    border-radius: 5px;
}

.sign-up-button {
    color: white;
    background-color: #3882f6;
    font-weight: bolder;
    padding: 10px 40px;
    border: white solid 2px;
    border-radius: 5px;
}